<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemeng.lecloud.common.chat.dao.UserLinkmanRelationMapper">
  <resultMap id="BaseResultMap" type="com.lemeng.lecloud.model.chat.UserLinkmanRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="linkman_id" jdbcType="BIGINT" property="linkmanId" />
    <result column="remark_name" jdbcType="VARCHAR" property="remarkName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, linkman_id, remark_name, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_linkman_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_linkman_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lemeng.lecloud.model.chat.UserLinkmanRelation">
    insert into user_linkman_relation (id, user_id, linkman_id, 
      remark_name, create_date)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{linkmanId,jdbcType=BIGINT}, 
      #{remarkName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lemeng.lecloud.model.chat.UserLinkmanRelation">
    insert into user_linkman_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="linkmanId != null">
        linkman_id,
      </if>
      <if test="remarkName != null">
        remark_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="linkmanId != null">
        #{linkmanId,jdbcType=BIGINT},
      </if>
      <if test="remarkName != null">
        #{remarkName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lemeng.lecloud.model.chat.UserLinkmanRelation">
    update user_linkman_relation
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="linkmanId != null">
        linkman_id = #{linkmanId,jdbcType=BIGINT},
      </if>
      <if test="remarkName != null">
        remark_name = #{remarkName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lemeng.lecloud.model.chat.UserLinkmanRelation">
    update user_linkman_relation
    set user_id = #{userId,jdbcType=BIGINT},
      linkman_id = #{linkmanId,jdbcType=BIGINT},
      remark_name = #{remarkName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>